@import url("https://fonts.googleapis.com/css2?family=Google+Sans+Flex:opsz,wght@6..144,1..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

@import "tailwindcss";

@utility font-nunito-* {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: --value(integer);
    font-style: normal;
}

@utility font-nunito-sans-* {
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: --value(integer);
    font-style: normal;
    font-variation-settings:
        "wdth" 100,
        "YTLC" 500;
}

@utility font-google-sans-flex-* {
    font-family: "Google Sans Flex", sans-serif;
    font-optical-sizing: auto;
    font-weight: --value(integer);
    font-style: normal;
    font-variation-settings:
        "slnt" 0,
        "wdth" 100,
        "GRAD" 0,
        "ROND" 0;
}

@utility font-inter-* {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: --value(integer);
    font-style: normal;
}

:root {
    --color-text: #011635;
    --color-bg: #ffffff;
    --color-scrollbar-thumb: #000000;
    --color-scrollbar-track: #ffffff;
    --color-selection-bg: #011635;
    --color-selection-text: #ffffff;
}

html.dark {
    --color-text: oklch(96.8% 0.007 247.896);
    --color-bg: #000000;
    --color-scrollbar-thumb: oklch(96.8% 0.007 247.896);
    --color-scrollbar-track: #000000;
    --color-selection-bg: oklch(96.8% 0.007 247.896);
    --color-selection-text: #000000;
}

html,
body {
    @apply font-nunito-400 h-full leading-6 tracking-wide;
    color: var(--color-text);
    background: var(--color-bg);
}

body {
    @apply overflow-auto;
    scrollbar-gutter: stable;
}

strong,
b,
h1,
h2 {
    @apply font-google-sans-flex-800 tracking-[1.02];
}

a {
    @apply underline underline-offset-2;
}

.masonry > div {
    @apply flex flex-col gap-3;

    & > * {
        @apply -my-[0.35rem];
    }
}

h1 {
    @apply mb-1.5;
}

.masonry svg {
    @apply -ml-0.5;
}

::-webkit-scrollbar {
    width: 2px;
    background: var(--color-scrollbar-track);
}

::-webkit-scrollbar-thumb {
    background: var(--color-scrollbar-thumb);
    border-radius: 8px;
}

::-webkit-scrollbar-track {
    background: var(--color-scrollbar-track);
}

::selection {
    background: var(--color-selection-bg);
    color: var(--color-selection-text);
}

::-moz-selection {
    background: var(--color-selection-bg);
    color: var(--color-selection-text);
}

html {
    scrollbar-color: var(--color-scrollbar-thumb) var(--color-scrollbar-track);
    scrollbar-width: thin;
}

::view-transition-old(root),
::view-transition-new(root) {
    animation: none;
    mix-blend-mode: normal;
}

::view-transition-old(root) {
    z-index: 1;
}

::view-transition-new(root) {
    z-index: 999;
}
